 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Software Engineer with 8+ years experience in software development. Most part of my career working at HP developing cloud based systems to support companies to provide private, public and hybrid cloud solutions. Currently part of a DevOps team that developed a platform to support applications to be deployed and scaled in the cloud (AWS).</p>
                    <p>Great communication and interpersonal skills. Team worker and fast-learner.</p>
                    <p>Experience working and leading teams across multiple geographies.</p>
                </div>
            </div>
        </div>
    </section>
